<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <targets>
    <target xsi:type="ColoredConsole" name="coloredConsole" useDefaultRowHighlightingRules="false">
      <layout xsi:type="JsonLayout">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-dd\\THH\:mm\:ss.fff\\Z:universalTime=true}" />
        <attribute name="log" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="level" layout="${level}" />
            <attribute name="origin" encode="false">
              <layout xsi:type="JsonLayout">
                <attribute name="file" encode="false">
                  <layout xsi:type="JsonLayout">
                    <attribute name="line" layout="${callsite-linenumber}" />
                    <attribute name="name" layout="${callsite-filename}" />
                  </layout>
                </attribute>
                <attribute name="function" layout="${callsite:methodName=true}" />
              </layout>
            </attribute>
            <attribute name="logger" layout="${logger}" />
          </layout>
        </attribute>

        <attribute name="message" layout="${message:raw=true}" />

        <attribute name="service" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="name" layout="AI" />
          </layout>
        </attribute>

        <attribute name="remundo"  encode="false" includeEmptyValue="true" maxRecursionLimit="2">
          <layout xsi:type="JsonLayout" includeScopeProperties="true">
            <scopeProperties/>
          </layout>
        </attribute>

        <attribute name="error" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="type" layout="${exception:format=type}" />
            <attribute name="message" layout="${exception:format=message}" />
            <attribute name="stack_trace" layout="${exception:format=tostring}" />
          </layout>
        </attribute>

      </layout>

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <!-- Exclude logs from other loggers -->
    <logger name="Remundo.*" minlevel="Info" writeTo="coloredConsole" final="true" />
    <logger name="Microsoft.*" minlevel="Error" final="true" />
    <logger name="System.*" minlevel="Error" final="true" />
    <logger name="Azure.*" minlevel="Error" final="true" />

    <logger name="*" minlevel="Error" writeTo="coloredConsole" />
  </rules>
</nlog>
